.animation {
    // Global In
    &_left_in {
        animation: showLeft .6s;
        position: relative;
    }
    &_right_in {
        animation: showRight .6s;
        position: relative;
    }
    &_bottom_in {
        animation: showDown .6s;
        position: relative;
    }
    &_top_in {
        animation: showUp .6s;
        position: relative;
    }

    // Global Out
    &_top_out {
        animation: hideUp .5s;
        position: relative;
    }
    &_bottom_out {
        animation: hideDown .5s;
        position: relative;
    }
    &_right_out {
        animation: hideRight .5s;
        position: relative;
    }
    &_left_out {
        animation: hideLeft .5s;
        position: relative;
    }
}

.outscreen {
    position: absolute;
    top: -100%;
}


@keyframes showLeft {
    from {left:-100%;}
    to {left:0;}
}
@keyframes showRight {
    from {right:-100%;}
    to {right:0;}        
}
@keyframes showDown {
    from {top:100vh;}    
    to {top:0;}  
}
@keyframes showUp {
    from {top: -100%;}    
    to {top: 0;}  
}
@keyframes hideUp {
    from {top:0;}    
    to {top:-100vh;}  
}
@keyframes hideDown {
    from {bottom:0;}    
    to {bottom: -100vh;}  
}
@keyframes hideRight {
    from {right:0;}
    to {right:-120%;}        
}
@keyframes hideLeft {
    from {left:0;}
    to {left:-120%;}
}
