
.main {
    height: calc(100vh - 80px);
    width: 100%;
    position: relative;
    padding: 5px;
    overflow: hidden;
    &_content {
        margin: auto 0;
    }
    &_title {
        font-size: 40px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px black;
        letter-spacing: 4px;
    }
    &_description {
        margin-top: 20px;
        color: white;
        font-size: 20px;
        letter-spacing: 5px;
        text-shadow: 2px 2px 1px black;
        &_buf {
            margin-top: 120px;
        }
    }
    &_line {
        margin: auto 30px;
        width: 2px;
        height: 80%;
        border-radius: 5px;
        box-shadow: 0 0 2px white;
        background: radial-gradient(rgba(255, 255, 255, .5), rgba(240, 245, 208, .5));
    }
    &_robo {
        margin: 30px auto;
        width: 350px;
        height: 400px;        
        background: url('../resources/robo.svg') no-repeat;
        background-size: cover;
        filter: drop-shadow(0 0 4px #000);
        position: relative;
        &_block {
            margin: auto 0;
        }
        &_hand {
            width: 150px;
            height: 95px;
            background: url('../resources/roboHand.svg') no-repeat;
            background-size: cover;
            filter: drop-shadow(0 0 2px #000);
            top: 117px;
            left: 20px;
            position: absolute;
            transform-origin: 100% 100%;
            animation: handRotate 1.5s infinite;
        }
        &_ball {
            position: absolute;
            top: 200px;
            left: 160px;
            width: 14px;
            height: 16px;
            border-radius: 10px;
            background-color:rgb(156, 158, 158);
            box-shadow: -1px 0 1px black;
        }
    }
    &_center {
        display: flex;
        justify-content: center;
    }
}

@keyframes handRotate {
    0%, 100% {
        transform: rotate(-15deg);
    }    
    50% {
        transform: rotate(-2deg);
    } 
}

@media screen and (max-width: 850px), (max-device-height: 700px) {
    .main_robo {
        width: 250px;
        height: 280px;
    }
    .main_robo_hand {
        width: 100px;
        height: 70px;
        top: 83px;
        left: 18px;
    }
    .main_robo_ball {
        top: 141px;
        left: 110px;
        height: 14px;
    }
    .main_title {
        font-size: 30px;
    }
    .main_description {
        font-size: 20px;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 650px) {
    .main_title {
        font-size: 24px;
        text-align: center;
        margin-top: 0;
    }
    .main_center {
        display: block;
    }
    .main_line {
        display: none;
    }
    .main_description {
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
    }
    .main_description_buf {
        margin-top: 30px;
    }
}

@media screen and (max-device-height: 780px) and (min-width: 650px) {
    .main_robo {
        width: 150px;
        height: 172px;
    }
    .main_robo_hand {
        width: 63px;
        height: 40px;
        top: 51px;
        left: 10px;
    }
    .main_robo_ball {
        top: 85px;
        left: 66px;
        height: 10px;
        width: 10px;
    }
}

@media screen and (max-device-height: 650px) and (min-width: 650px) {
    .main_description_buf {
        margin-top: 30px;
    }
    .main_title {
        margin-top: 20px;
    }
}

@media screen and (max-device-height: 500px) and (min-width: 650px) {
    .main_title {
        margin-top: 10px;
        font-size: 20px;
    }
    .main_description {
        font-size: 16px;
        letter-spacing: 2px;
    }
}

@media screen and (max-device-height: 350px) and (min-width: 650px) {
    .main_title {
        font-size: 12px;
        margin-top: 5px;
    }
    .main_description {
        font-size: 10px;
        text-align: center;
        letter-spacing: 2px;
    }
    .main_description_buf {
        margin-top: 20px;
    }
    .main_robo {
        width: 100px;
        height: 115px;
        margin: 4px;
    }
    .main_robo_hand {
        width: 40px;
        height: 27px;
        top: 34px;
        left: 8px;
    }
    .main_robo_ball {
        display: none;
    }
}

// --------------------------------------------------

@media screen and (max-device-height: 800px) and (max-width: 650px) {
    .main_title {
        font-size: 14px;
        margin-top: 10px;
    }
    .main_description {
        font-size: 12px;
        text-align: center;
        letter-spacing: 2px;
    }
}

@media screen and (max-device-height: 650px) and (max-width: 650px) {
    .main_robo {
        width: 150px;
        height: 172px;
    }
    .main_robo_hand {
        width: 63px;
        height: 40px;
        top: 51px;
        left: 10px;
    }
    .main_robo_ball {
        top: 85px;
        left: 66px;
        height: 10px;
        width: 10px;
    }
}