.main {
    margin: 0 10px;
    width: calc(100vw - 20px);
    height: 100%;
    color: gradient(to top, black, white);
    padding: 20px;
    &_title {
        text-align: center;
        color: white;
        font-size: 35px;
        text-shadow: 1px 1px 1px black;
    }
    &_text {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    &_img {
        height: 30%;
        width: 100%;
        opacity: .6;
    }
    &_buf {
        height: 3vw;
        min-height: 20px;
    }
}

@media (max-width: 1000px) {
    .main_title {
        font-size: 22px;
    }
}

@media (max-height: 600px) {
    .main_img {
        display: none;
    }
}