.main {
    margin: 0 10px;
    width: calc(100vw - 20px);
    height: 100%;
    // background-color: rgba(10, 11, 11, 0.3);
    color: white;
    padding: 50px;
    // box-shadow: 0 0 20px black;
    &_title {
        font-size: 35px;
    }
}