.navigation {
    background: linear-gradient(to top, rgba(37, 57, 57), rgba(41, 81, 81));
    left:  30px;
    right: 30px;
    height: 50px;
    bottom: 16px; 
    position: fixed;
    border-radius: 2px;
    padding: 3px 5px;
    animation: showNavigation 1s;
    box-shadow: 0 1px 2px black;
    z-index: 100;
    &_logo {
        height: 100%;
        opacity: .5;
        pointer-events: none;
    }
    &_bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 5px;
        background: url('../resources/bgn.jpg');
        opacity: .08;
        z-index: -1;
    }
    &_date {
        font-size: 14px;
        margin: auto 0;
        color: white;
        text-shadow: -1px -1px 1px black;
        text-align: center;
    }
    &_controls {
        padding: 3px 0 2px;
        white-space: nowrap;   
        width: 100%;
        margin: 0 4px;
    }
    &_link {
        background: linear-gradient(to top, rgb(38, 55, 54), rgb(54, 81, 81) 95%);
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        border-radius: 20px 5px;
        // border-radius: 15px;
        border: .5px solid rgba(255, 255, 255, .3);
        text-decoration: none;
        text-shadow: -1px -1px 2px black;
        box-shadow: -1px -1px 1px rgba(0, 0, 0);
        padding-top: 5px;
        width: 30%;
        height: 100%;
        margin: 0 5px;
        transition: .3s;
        position: relative;
        &:hover {
            background-color:rgba(82, 184, 143, 0.7);
        }
    }
    &_activelink {
        width: 40%;
        background: linear-gradient(to top, rgb(53, 73, 71), rgb(38, 55, 54) 95%);
    }
    &_led {
        width: 18px;
        height: 2px;
        margin: 0 auto;
        border-radius: 3px;
        background-color:rgba(81, 91, 91, 0.4);
        box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
        transition: .5s;
        &_block {
            width: 100%;
            position: absolute;
            bottom:4px;
            left: 0;
        }
        &_active {
            width: 50%;
            background: radial-gradient( rgb(155, 254, 165), rgb(85, 212, 62) 90%);
        }
    }
}

@keyframes showNavigation {
    from {bottom: -20vh;}    
    to {bottom: 16px;}  
}
@keyframes showNavigationDevice {
    from {bottom: -20vh;}    
    to {bottom: 4px;}  
}

@media (max-width: 850px) {
    .navigation_link {
        font-size: 12px;
        letter-spacing: 1px;
        margin: 0 2px;
        padding-top: 7px;
    }
    .navigation {
        left:  6px;
        right: 6px;
        padding: 3px 5px;
        bottom: 4px;
        animation: showNavigationDevice 1s;
    }
}

@media (max-width: 600px) {
    .navigation_link {
        font-size: 8px;
        padding-top: 8px;
    }
    .navigation_date {
        display: none;
    }
}

@media (max-width: 400px) {
    .navigation_link {
        font-size: 7px;
        padding-top: 11px;
        // letter-spacing: 0;
    }
}

