.skils {
    background: $portfolioInfoBlockColor;
    box-shadow: 0 0 5px black;
    opacity: .8;
    width: 90%;
    height: 100%;
    top:50%;
    left:50%;
    padding: 40px;
    transform: translate(-50%,-50%);
    position: absolute;
}