
@font-face {
	font-family: 'MontserratAlternates'; 
	src: url('../resources/fonts/MontserratAlternates-Light.ttf'); 
}

@font-face {
	font-family: 'President'; 
	src: url('../resources/fonts/President-cyr.ttf'); 
}

@import './navigationPanel.scss';
@import './mainPage.scss';

* {
    // font-family: 'MontserratAlternates', sans-serif;
    font-family: 'President', 'MontserratAlternates', sans-serif;
    letter-spacing: .5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-size: 16px;
}

.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    background-color: rgb(30, 44, 44);
    &_backimage {
        background: url(../resources/bg.jpg) repeat;
        width: 100vw;
        height: 200vh;
        opacity: .08;
        position: absolute;
        animation: bgTranc 45s infinite linear;
        z-index: -2;
    }
}

.bgcontainer {
    z-index: -5;
}

.flex {
    display: flex;
    &_between {
        display: flex;
        justify-content: space-between;
    }
}

@keyframes bgTranc {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-50%)
    }        
}