$globalBackground: radial-gradient(rgb(108, 137, 138) 50%, rgb(53, 78, 81)); 
$globalBackgroundImageOpacity: .1;

// цвет контейнеров заголовков
$globalBlockColor: linear-gradient(to top, rgb(61, 71, 71), rgba(46, 54, 54));
$titleBlockColor: $globalBlockColor; 
$navigationBlockColor: $globalBlockColor;

$navigationLinkColor: linear-gradient(to top, rgb(69, 78, 78), rgb(41, 54, 54) 95%);
$navigationActiveLinkColor: linear-gradient(to top, rgb(84, 97, 97), rgba(46, 54, 54) 95%);

$globalBorderRadius: 8px;

$portfolioInfoBlockColor: rgba(46, 54, 54, 0.98);
$portfolioInfoImagePreviewBlockColor: rgba(56, 63, 70, .5);

$scrollBarWH: 3px;
$scrollBarBackColor: rgba(38, 55, 54, .8);
$scrollBarThumbColor: rgba(227, 227, 227, 0.8);