@import '../../../styles/variables.scss';

.workInfo {
    height: 100vh;
    width: 100vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 120;
    &_container {
        background: $portfolioInfoBlockColor;
        box-shadow: 0 0 5px black;
        width: 90%;
        height: 100%;
        top:50%;
        left:50%;
        padding: 40px;
        transform: translate(-50%,-50%);
        position: absolute;
        animation: showWorkInfo .4s;
    }
    &_preview {
        order: 2;
        width: 60%;
        // border-radius: $globalBorderRadius;
        box-shadow: 0 0 1px rgb(255, 255, 255);
        // background: $portfolioInfoImagePreviewBlockColor;
        overflow: hidden;
        position: relative;
        &_image {
            max-width: 95%;
            max-height: calc(100% - 100px);
            left: 50%;
            top: calc(50% - 34px);
            transform: translate(-50%,-50%);
            // pointer-events: none;
            position: absolute;
        }
        &_controls {
            position: absolute;
            overflow-x: auto;
            padding: 10px 2px;
            bottom: 0;
            height: 62px;
            width: 80%;
            left: 50%;
            transform: translate(-50%,0);
            border-top: .5px solid rgba(128, 128, 128, .5);
            // border-right: .5px solid gray;
            // border-left: .5px solid gray;
            animation: showControls 1s;
            &_left {
                position: absolute;
                font-size: 44px;
                text-align: center;
                opacity: .5;
                bottom:0;
                left:0;
                height: 62px;
                width: calc(10% - 8px);
                border-top: .5px solid gray;
                border-right: .5px solid gray;
                cursor: pointer;
                animation: showLeftControl .5s;
                &:hover {
                    background-color: rgba(87, 95, 96, 0.5);
                }
            }
            &_right {
                position: absolute;
                font-size: 44px;
                text-align: center;
                opacity: .5;
                bottom:0;
                right:0;
                height: 62px;
                width: calc(10% - 8px);
                border-top: .5px solid gray;
                border-left: .5px solid gray;
                cursor: pointer;
                animation: showRightControl .5s;
                &:hover {
                    background-color: rgba(87, 95, 96, 0.5);
                }
            }
            &_image {
                margin: 0 8px;
                opacity: .5;
                transition: .3s;
                cursor: pointer;
                &_active {
                    transform: scale(1.3);
                    opacity: 1;
                    // box-shadow: 0 0 8px greenyellow;
                    // transform: translate(0,-2px);
                    // border-bottom: .5px solid rgb(3, 3, 3);
                    // outline: 2px solid rgb(59, 175, 46);
                    // margin-bottom: 2px;
                    // box-shadow: 0 4px 0 rgb(154, 255, 3);
                }
            }
        }
    }
    &_description {
        order: 1;
        width: 38%;
        overflow: hidden;
        position: relative;
        &_nameblock {
            width: 95%;
            position: absolute;
            animation: showName 1s ease-out;
        }
        &_descriptionblock {
            width: 95%;
            height: calc(100% - 35px);
            bottom:0;
            position: absolute;
            animation: showDescription .6s ease-out;
        }
        &_line {
            height: .5px;
            margin: 5px 0;
            background-color: gray;
        }
    }
    &_label {
        font-size: 12px;
        color: gray;
    }
    &_text {
        font-size: 12px;
    }
    &_http {
        color:rgb(43, 107, 192);
        font-size: 12px;
    }
    &_justifytext {
        font-size: 12px;
        text-align: justify;
    }
}

@keyframes showWorkInfo {
    0% {
        height: 30%;
        width: 30%;
    }   
    100% {
        height: 100%;
        width: 90%;
    } 
}

@keyframes showDescription {
    0%, 60% {
        bottom: -100%;
    }   
    100% {
        bottom:0;
    } 
}

@keyframes showControls {
    0%, 40% {
        bottom: -10%;
    }   
    100% {
        bottom:0;
    } 
}

@keyframes showLeftControl {
    0%, 50% {
        left: -10%;
    }   
    100% {
        left:0;
    } 
}

@keyframes showRightControl {
    0%, 50% {
        right: -10%;
    }   
    100% {
        right:0;
    } 
}

@keyframes showName {
    0%, 60% {
        left: -100%;
    }   
    100% {
        left:0;
    } 
}


@media (max-width: 1000px) {
    .workInfo_preview {
        display: none;
    }
    .workInfo_description {
        width: 100%;
    }
}