.bg1 {
    animation:slide 5s ease-in-out infinite alternate;
    // background-image: linear-gradient(-60deg, rgb(47, 60, 60) 48%, rgb(61, 88, 88) 50%, rgb(47, 60, 60) 52%);
    background-image: linear-gradient(-60deg, rgb(26, 30, 30) 48%, rgb(51, 75, 75) 50%, rgb(27, 37, 37) 52%);
    bottom:0;
    left:-50%;
    opacity:.8;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-100;
  }
  .bg2 {
    animation:slide 8s ease-in-out infinite alternate;
    // background-image: linear-gradient(60deg, rgb(47, 60, 60) 48%, rgba(61, 88, 88, .5) 50%, rgb(47, 60, 60) 52%);
    background-image: linear-gradient(60deg, rgb(30, 44, 44) 48%, rgba(46, 80, 80, 0.5) 50%, rgb(20, 43, 43) 52%);
    bottom:0;
    left:-50%;
    opacity:.2;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-100;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
  }
  
  .bg3 {
    animation-duration:7s;
  }

  .bg4 {
    animation-duration:8s;
  }
  .bg5 {
    animation-duration:10s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }